[submodule "my_plugins/vim-easymotion"]
	path = my_plugins/vim-easymotion
    url = https://github.com/easymotion/vim-easymotion.git
[submodule "my_plugins/rust.vim"]
	path = my_plugins/rust.vim
    url = https://github.com/rust-lang/rust.vim.git
[submodule "my_plugins/vim-cpp-enhanced-highlight"]
	path = my_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight
[submodule "my_plugins/dracula"]
	path = my_plugins/dracula
	url = https://github.com/dracula/vim.git
[submodule "my_plugins/onedark"]
	path = my_plugins/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "my_plugins/fzf"]
	path = my_plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "my_plugins/ale"]
	path = my_plugins/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "my_plugins/nerdtree"]
	path = my_plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "my_plugins/vim-multiple-cursors"]
	path = my_plugins/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "my_plugins/vim-grepper"]
	path = my_plugins/vim-grepper
	url = https://github.com/mhinz/vim-grepper.git
[submodule "my_plugins/vim-clang-format"]
	path = my_plugins/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "my_plugins/echodoc"]
	path = my_plugins/echodoc
	url = https://github.com/Shougo/echodoc.vim.git
[submodule "my_plugins/leetcode"]
	path = my_plugins/leetcode
	url = https://github.com/ianding1/leetcode.vim.git
[submodule "my_plugins/vim-codefmt"]
	path = my_plugins/vim-codefmt
	url = https://github.com/google/vim-codefmt.git
[submodule "my_plugins/vim-maktaba"]
	path = my_plugins/vim-maktaba
	url = https://github.com/google/vim-maktaba.git
[submodule "my_plugins/indentLine"]
	path = my_plugins/indentLine
	url = https://github.com/Yggdroot/indentLine.git
